{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>팀 모집 게시판</h1>

<!-- 팀원 모으기 예외 처리 -->
{% if user.is_authenticated %}
       <a href="{% url 'join_new' request.user.id%}"  class="action-button shadow animate yellow"> 팀원 모으기</a>
{% endif %}

<!-- 게시물들 -->
<div>
{% for join in joins %}
       <a href="{% url 'join_detail' join.id %}">
       <div class="container">
              <h2>{{join.title}}</h2>
              <p>지역:{{join.region}}</p>
              <p>모집인원:{{join.joined_people}}</p>
              <p>모집현황:{{join.current_joined}}</p>
              <p>모집기간:{{join.active_period}}</p>
              <p>목적:{{join.purpose}}</p>

       </div>
       </a>
{% endfor %}
<!-- 페이지네이터 -->
{% if joins.has_previous%}
<a href="?page={{joins.1}}">첫페이지</a>
<a href="?page={{joins.previous_page_number}}">이전 페이지</a>
{% endif %}

<span>{{joins.number}}</span>
<span>of</span>
<span>{{joins.paginator.num_pages}}</span>

{% if joins.has_next%}
<a href="?page={{joins.next_page_number}}">다음페이지</a>
<a href="?page={{joins.paginaitor.num_pages}}">마지막 페이지</a>
{% endif %}

</div>

{% endblock %}