{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
       <div class="jumbotron p-4 p-md-5 text-white" style="background-color: rgb(240, 189, 80);">
              <div class="col-md-6 px-0">
                     <h1 class="display-4 font-italic">당신의 팀을 구성하세요</h1>
                     <p class="lead my-3">관심사가 맞고<br>공통점이 있는 사람들을 모집해보세요.</p>
                     {% if user.is_authenticated %}
                     <p class="lead mb-0">
                            <a href="{% url 'join_new' request.user.id%}" 
                            class="text-white font-weight-bold">팀원 모집글 올리기</a></p>
                     {% endif %}
              </div>
       </div>
       <h1>팀 모집 게시판</h1><br>

       <!-- 게시물들 -->
       <div class="boardlist" style="border-top-style:solid; border-top-color:rgb(240, 189, 80); padding-top: 15px;">
       {% for join in joins %}
       <ul class="list_wrap"
              style="border-bottom-style: solid; border-bottom-color: rgb(231, 193, 109); border-bottom-width: 1px;">
              <li>
                     <a href="{% url 'join_detail' join.id %}">
                            <p class="card-title" style="font-size: 24px;">{{join.title}}</p>
                            <p style="font-size: 14px;">작성자 : {{join.writer}}</p>
                     </a>
              </li>
       </ul>
       {% endfor %}
       </div>
</div>
{% endblock %}