

<h2>{{join.title}}</h2>
       <br>
       <p>지역:{{join.region}}</p>
       <br>
       <p>작성자:{{join.writer}}</p>
       <br>
       <p>모집인원:{{join.joined_people}}</p>
       <br>
       <p>모집현황:{{join.current_joined}}</p>
       <br>
       <p>모집기간:{{join.active_period}}</p>
       <br>
       <p>목적:{{join.purpose}}</p>
       <br>
       <p>{{join.body}}</p>
       <br>
       <a href="{% url 'join_edit' join.id %}"> 수정하기 </a>
       <br>
       <a href="{% url 'join_delete' join.id %}"> 삭제하기 </a>
