{% extends 'base.html' %}
{% block content %}
<style>
    table.type05 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
    width:100%;
}
table.type05 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: rgb(229, 248, 205);
    text-align: center;
}
table.type05 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
#title{
    border-style: solid;
    border-top-color:rgb(229, 248, 205);
    border-bottom-color: rgb(229, 248, 205);
    border-left-style: none;
    border-right-style: none;
    padding: 18px;
    border-width: 2px;

}
</style>


<div class="container">
    <h1 id= "title">{{db.title}}</h1>
    <br>
    <table class="type05">
            <tr>
                <th scope="row">작성자</th>
                <td>{{me}}</td>
            </tr>
            <tr>
                <th scope="row">상품 사진</th>
                <td><img src="{{db.prod_img.url}}" style="widows: 1000px; height:500px"></td>
            </tr>
            <tr>
                <th scope="row">상품 설명</th>
                <td>{{db.body}}</td>
            </tr>
        </table>
    <a href="{%url 'db_delete' db.id%}" style="float: right;">삭제하기</a>
    <a href="{%url 'db_edit' db.id%}" style="float: right;">수정하기&nbsp;&nbsp;</a>
    
    
</div>



{% endblock %}