{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron">
      <h3 class="display-4">관련 분야 전문가에게 질문하세요</h3>
      <p>당신이 농사를 지으면서 마주쳤던 문제나 궁금했던 점들을 전문가에게 질문해보세요.</p>
      {% if user.is_authenticated %}
      <p><a class="btn btn-primary btn-lg" href="{% url 'qb_new' %}" role="button">질문 등록하기 &raquo;</a></p>
      {% endif %}
  </div>
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">박상혁 교수</h5>
      <p class="card-text">
        약력: 개쩔어<br>
        대학교: 개쩔어<br>
        활동: 여태까지 개쩔게 했어<br>
      </p>
    </div>
  </div>
  <br><br>
  <div class="boardlist" style="border-top-style:solid; border-top-color:rgb(179, 230, 124); padding-top: 15px;">
  {%for qb in questionboards%}
      <ul class="list_wrap" style="border-bottom-style: solid; border-bottom-color: rgb(229, 248, 205);">
        <li>
          <a href="{%url 'qb_detail' qb.id%}">
            <p class="title" style="font-size: 24px;">{{qb.title}}</p>
            <p style="font-size: 14px;">작성자 : {{qb.writer}}</p>
          </a>
        </li>
      </ul>
  {% endfor %}
   <!-- 페이지네이터 -->
   {% if questionboards.has_previous%}
   <a href="?page={{questionboards.1}}">첫페이지</a>
   <a href="?page={{questionboards.previous_page_number}}">이전 페이지</a>
   {% endif %}

   <span>{{questionboards.number}}</span>
   <span>of</span>
   <span>{{questionboards.paginator.num_pages}}</span>

   {% if questionboards.has_next%}
   <a href="?page={{questionboards.next_page_number}}">다음페이지</a>
   <a href="?page={{questionboards.paginaitor.num_pages}}">마지막 페이지</a>
   {% endif %}
</div>
</div>
{% endblock %}