{% extends 'base.html' %}
{% block content %}


<div class="container">
    <br>
    <h2>Register Land</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <br>
        지역 : <input name="region" type="text" value="">
        <br>
        땅 면적 : <input name="land_area" type="text" value="">
        <br>
        땅 상태 : <input name="land_condition" type="text" value="">
        <br><br>
        <input type="submit" value="땅 등록">
        <br>
    </form>
</div>


{% endblock %}