{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}

<style>
table {
  border-collapse: separate;
  border-spacing: 0 10px;
  padding-left:200px;
  padding-right:200px;
}

td,tr{

    padding:50px;
}

.inc{

    color:#0B3B2E;
}

.bucss{

    color: #fff;
    background-color: #38610B;
    border-color: #38610B;
}
</style>

<div class="container-fluid">
    <table width="100%" style="text-align:center; border:none;">
        <tr>
            <td style="background-color:#D0F5A9;width:280px; padding:20px">
                <div class="container inc">
                    <br>
                    <h2> My Page </h2>
                    <p><img style="width: 13.5rem; height: 18rem;" src="{{ mypage_info.profile_img.url }}"></p>
                    <p>Username : {{mypage_info.username}}</p>
                    <p>E-mail : {{mypage_info.email}}</p>
                    <p>SNS ID : {{mypage_info.sns_id}}</p>
                    <p>자기소개</p>
                    <p>{{mypage_info.introduce}}</p>
                    <br>
                    <button style="border-color:#38610B; background-color:#38610B;"><a
                            href="{% url 'Profile_update_detail' %}" style="color:white;">유저정보 수정</a></button>
                </div>
            </td>
            <td style="height:60px; padding-top:0px;">

                    <hr style=" border-style:solid; border-color: #D0F5A9; border-width: 3px;">
                    나의 땅 공유 게시물
                    {% for land in shared_lands %}
                    <details>
                        <summary><a href="{% url 'sb_detail' land.id %}">{{land.title}}</a></summary>
                        <br>
                        <p>신청한 사람들</p>
            
                        {% if land.is_completed == False %}
                        {% for person in  shared_lands_people %}
                        {% if land.id == person.land.id %}
                        <table>
                        <a href="{% url 'mypage' person.client.username %}">{{person.client.username}}</a>
                        <a href="{% url 'request_accept' person.id %}">수락</a><br>
                        </table>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <div style="border-style:solid; border-color:#D0F5A9 ;">
                        {% if land.is_completed == True %}
                        <p>최종 신청 확정자</p>
                        {% for person in  shared_lands_people %}
                        {% if land.id == person.land.id %}
                        {% if person.is_completed == True %}
                        <a href="{% url 'mypage' person.client.username %}">{{person.client.username}}</a><br>

                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        </div>
                    </details>
                    {% endfor %}
                    <hr style=" border-style:solid; border-color: #D0F5A9; border-width: 1px;">
                    <p>나의 땅 요구 게시물</p>
                    {%for rp in request_posts %}
                    <a href="{% url 'rb_detail' rp.id %}">-{{rp.title}}</a>
                    {%endfor%}
                    <hr style=" border-style:solid; border-color: #D0F5A9; border-width: 1px;">
                    <p>내가 신청한 땅들</p>
                    {% for land in applied_lands %}
                    <a href="{% url 'sb_detail' land.land.id %}">-{{land.land.title}}</a>
                    <br>
                    {% endfor %}
                    <hr style=" border-style:solid; border-color: #D0F5A9; border-width: 1px;">
                    <a href="{% url 'Profile_scrap' %}">스크랩한 모집 글들</a>
                    <hr style=" border-style:solid; border-color: #D0F5A9; border-width: 1px;">
                    <a href="{% url 'land_new' %}">땅 등록</a>
                    <br>
                    <br>
                    <div class="row">
                        {% for land in my_lands %}
                        <div class="card border-success md-3" style="width: 15rem; margin-top: 1%;">
                            <div class="card-header">{{land.region}}</div>
                            <div class="card-body text-success">
                                <h5 class="card-title">{{land.address}}</h5>
                                <p class="card-text">
                                    <p>면적 : {{land.land_area}} m<sup>2</sup></p>
                                    <p>땅 상태 : {{land.land_condition}}</p>
                                    <a href="{% url 'land_edit' land.id %}">수정</a> /
                                    <a href="{% url 'land_delete' land.id %}">삭제</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
               

            </td>
        </tr>

    </table>
</div>
{% endblock %}



