{% extends 'base.html' %}
{% block content %}

<div class ="container">
    <br>
    <h2> My Page </h2>

    <p>Username : {{mypage_info.username}}</p> 
    <p>E-mail : {{mypage_info.email}}</p>
    <p>SNS ID : {{mypage_info.sns_id}}</p>
    <p>자기소개</p>
    <p>{{mypage_info.introduce}}</p>
    <hr>
    <a href="../newLand">땅 등록</a>
    <br><br>
    {% for land in my_lands %}
        <p>지역 : {{land.region}}</p>
        <p>면적 : {{land.land_area}}</p>
        <p>땅 상태 : {{land.land_condition}}</p>
        <hr>
    {% endfor %}

        <a href="{% url 'Profile_update_detail' %}" >수정</a>
     
</div>


{% endblock %}
