
{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
        body{
            background: #76b852; /* fallback for old browsers */
            background: -webkit-linear-gradient(right, #76b852, #8DC26F);
            background: -moz-linear-gradient(right, #76b852, #8DC26F);
            background: -o-linear-gradient(right, #76b852, #8DC26F);
            background: linear-gradient(to left, #76b852, #8DC26F);
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;  
        }

/* h2{
    color:white;
    font-size:35px;
    text-align: center;
} */
</style>

<div class ="container">
{% if error %}
    {{error}}
{% endif %}
    <br>
    <div class="in">
        <div class="container">
            <h2 class="mc" style="text-align: center;">Sign up</h2>
                <br>
                <form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data" style="margin-top:15px;">
                {% csrf_token %}
                    
                        Username: <input style="text-align: center; " type="text" name="username" required="required" placeholder="Your id"><br>
                        Password : <input style="text-align: center;" type="password" name="password1" required="required" placeholder="Your password"><br>
                        Confirm Passward :<input style="text-align: center;" type="password" name="password2" required="required" placeholder="Your password"><br>
                        E-mail : <input style="text-align: center;" type="email" name="email" required="required" placeholder="Your email"><br>
                        SNS ID : <input style="text-align: center;" type="text" name="sns_id" required="required" placeholder="Your sns_id"><br>
                        Introduce : <textarea style="text-align: center;"  class="form-control" name="self_introduction" placeholder="자기소개"></textarea><br>
                        Profile Image : <input  style="text-align: center;" type="file" name="pofile_img" accept=".jpg,.jpeg,.png,.gif">
                        
                            <input type="submit" value="Sign Up!">
                        
                            
                </form>
        </div>

    </div>
    
</div>

{% endblock %}





