
{% extends 'base.html' %}
{% block content %}

<div class ="container">
{% if error %}
    {{error}}
{% endif %}
    <br>
    <h2>Sign up</h2>
    <br>
    <form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
    {% csrf_token %}
        Username : <input type="text" name="username" required="required" placeholder="Your id"><br>
        Password : <input type="password" name="password1" required="required" placeholder="Your password"><br>
        Confirm Passward :<input type="password" name="password2" required="required" placeholder="Your password"><br>
        E-mail : <input type="email" name="email" required="required" placeholder="Your email"><br>
        SNS ID : <input type="text" name="sns_id" required="required" placeholder="Your sns_id"><br>
        Introduce : <textarea class="form-control" name="self_introduction" placeholder="자기소개"></textarea><br>
        Profile Image : <input type="file" name="pofile_img" accept=".jpg,.jpeg,.png,.gif">
        <input  type="submit" value="Sign Up!">
    </form>
</div>

{% endblock %}





