{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<style>


@font-face { 
    font-family: 'RIDIBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}




.area_navigation .an_item {
    font-family: 'RIDIBatang'; 
    float: left;
    padding-left: 70px;
    
}

.section_navbar {
 
  z-index: 100;
  /* z-index: 2; */
  height: 46px;
  border-bottom: 2px solid #E6E6E6;
  background: #fff;
  
  
}

.area_navigation {
  
  margin: 0 auto;
  width: 1080px;
  zoom: 1;
}

.area_navigation .an_l {
  
  float: left;
  padding-top: 16px;
  padding-left: 4px;
  zoom: 1;
}
ul {
  list-style: none;
}

.box {
  background-color:rgb(192, 219, 119);
  width:470px;
  text-align:center; 
  padding:30px 0px;
  font-family: 'RIDIBatang';
  color:white;
  border-radius: 15px;
  margin:0 auto;
  height:150px;
  
  
}

.inbox{

  color:rgb(139, 80, 59);
  font-size:25px;
  font-weight:bold;
}

.sebox{
  background-color: rgb(250, 197, 154);
  width:470px;
  text-align:center; 
  padding:30px 0px;
  font-family: 'RIDIBatang';
  color:white;
  border-radius: 15px;
  margin:0 auto;
  height:150px;

}

a.no-uline { text-decoration:none }


    .wrap 
    { 
      width:100%; position:relative;
    }
    .align_center 
    { 
      position:absolute; 
      /* margin:-100px 0 0 -150px; */
    }

    /* p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-right: 40px;
} */


</style>

<!-- 중간 글귀 -->
<div class="container" style="font-family: 'RIDIBatang'; z-index: -1;">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img src="{% static "images/mm1.png" %}" style="height: 100%; width: 100%; padding-top:0px ">


      </div>
      <div class="carousel-item">
        <img src="{% static "images/mm3.png" %}" style="height: 100%; width: 100%; padding-top:0px">
      </div>

    </div>
  </div>

  <hr style="border: 1px solid #E6E6E6">
  <!-- 그 밑에 -->

  <div class="wrap">
    <div>
      <a href="{% url 'sharingboard' %}" class="no-uline" style="float: left;">
        <div class="box">
          <p class="inbox">땅 공유 게시판</p>
          <p style="text-align: right; padding:50px margin-top: 0; margin-bottom: 1rem; margin-right: 40px;">
            필요없는 땅이 있으세요?<br>지금바로 공유해보세요!

          </p>


        </div>
      </a>
      <a href="{% url 'requestboard' %}" class="no-uline" style="float: left; padding-left: 25px;">
        <div class="sebox">
          <p class="inbox">땅 요청 게시판</p>
          <p style="text-align: right; padding:50px margin-top: 0; margin-bottom: 1rem; margin-right: 40px;">
            땅이 필요하신데 없으시다고요?<br> 요청해보세요! </p>


        </div>
    </div>
    </a>
  </div>
  <div class="row">
    {%for review in reviews%}
    <div class="col-4" style="padding:15px">
      <a href="{% url 'review_detail' review.id %}">
        <div class="card" style="width: 18rem; background-color:rgb(229, 248, 205);">
          <img src="{{review.picture.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">제목 : {{review.title}}</h5>
            <p class="card-text">작성자: {{review.writer}}</p>
            <p class="card-text">좋아요: {{review.total_likes}}</p>
          </div>
        </div>
      </a>
      {% endfor%}
    </div>

  </div>
</div>





    

{% endblock %}