<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript">
    // $(document).ready(function(){
    // });
    function setAmount() {
          if ($('input:radio[id=amount_select]').is(':checked')){
          $('#amount_form').show();
        }else{
          $('#amount_form').hide();
        }
      }
  </script>
  
</head>
<style>
  <style>


@font-face { 
    font-family: 'RIDIBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}




.area_navigation .an_item {
    font-family: 'RIDIBatang'; 
    float: left;
    padding-left: 70px;
    
}

.section_navbar {
 
  z-index: 100;
  /* z-index: 2; */
  height: 46px;
  border-bottom: 2px solid #E6E6E6;
  background: #fff;
  
  
}

.area_navigation {
  
  margin: 0 auto;
  width: 1080px;
  zoom: 1;
}

.area_navigation .an_l {
  
  float: left;
  padding-top: 16px;
  padding-left: 4px;
  zoom: 1;
}
ul {
  list-style: none;
}

#amount_form {
  display: none;
}

</style>
    
</style>
<body>
      <nav class="navbar navbar-expand-md navbar-dark ">
          <div class="container">
              <a class="navbar-brand" href="/" style="color:black">농사직설</a>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item cta-btn">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="z-index: 1;">
                        <ul class="navbar-nav a" style="z-index: 1;">
                            {% if not user.is_authenticated %}
                          <li class="nav-item active ">
                            <a class="nav-link " href="{% url 'signup' %}" style="color:black">signup <span class="sr-only">(current)</span></a>
                          </li>
                      
                          <li class="nav-item active">
                            <a class="nav-link " href="{% url 'login' %}" style="color:black">login <span class="sr-only">(current)</span></a>
                          </li>
                          {% else %}
                          <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{request.user.username}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'mypage' request.user.username %}" style="color:black">Mypage</a>
                              <a class="dropdown-item" href="#" style="color:black">뭔가 기능 하나 넣으셈</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'logout' %}" style="color:black">Logout</a>
                            </div>
                          </li>
                          {% endif %}
                          <br>
                        </ul>
                        
                      </div>
                </li>
              </ul>
              
            </div>
          </div>
        </nav>
          
          <div class="section_navbar">
              <div class="area_navigation" role="navigation">
                <ul class="an_l">
                  <li class="an_item a">
                          <li class="an_item">
                              <a href="{% url 'sharingboard' %}">땅 등록 게시판</a>            
                          </li>
                          <li class="an_item">
                              <a  href="{% url 'requestboard' %}">원하는 땅 등록 게시판</a>
                          </li>
                  <li class="an_item">
                      <a href="{% url 'review' %}" >성공사례</a>
                  
                    </a>
                  </li>
                  <li class="an_item">
                      <a href="{% url 'join' %}" >팀원모집</a>
                    </a>
                  </li>
                  <li class="an_item">
                      <p>수확물 쇼핑몰</p>
                    </a>
                          </li>
                          <li class="an_item">
                      <p>전문가 질문하기</p>
                    </a>
                  </li>
                  
                </ul>
                  </div>
              </div>
      
    {% block content %}
    {% endblock %}

</body>

</html>