{% extends 'base.html' %}
{% block content %}
<div class ='container'>
    <h1>제목 : {{rb.title}}</h1></a>
    <h5>게시 날짜 : {{rb.pub_date}}</h5>
    <h5>작성자 : {{rb.writer}}</h5>
    <h5>지역 : {{rb.region}}</h5>
    <h5>면적 : {{rb.land_area}}</h5>
    <h5>기간 : {{rb.sharing_term}}</h5>
    {% if rb.is_pay_for %}
    <h5>비용 : 지불의사 o</h5>
    {% else %}
    <h5>비용 : 지불의사 x</h5>
    {% endif %}
    <h5>내용 : {{rb.content}}</h5>
    <h5>사용목적 : {{rb.purpose}}</h5>
    <br><br>
    {% if user.username == rb.writer.username %}
    <a href="{% url 'rb_edit' rb.id%}">수정하기</a>
    <a href="{% url 'rb_delete' rb.id%}">삭제하기</a>
    {% endif %}

    {%for comment in comments.all%}
    <div class ='container'>
            <p>작성자:{{comment.comment_writer}}</p>
            <p>땅정보:{{comment.land_writer.region}}</p>
            <p>땅 크기 : {{comment.land_writer.land_area}}</p>
            <p>내용:{{comment.comment_content}}</p>
        </div>
    {% endfor %}
    <hr>
    {% if user.is_authenticated %}   <!-- 로그인 상태가 아니면 댓글 못씀-->
    <form action="{% url 'RequestBoardCommentNew' rb.id%}" method = "POST">
            {% csrf_token %}
            <div >
                작성자:{{user.username}}
                <br>
                땅정보: <select name="l">
                    <option value='' selected>-- 땅선택 --</option>
                    {% for i in land %}
                            <option value="{{i.id}}">{{i.region}} , {{i.land_area}} , {{i.land_condition}}</option>
                    {%endfor%}
                </select>
                내용:<textarea name="content" class="form-control" id="" cols="30" rows="5"></textarea>
                <br>
                <button type="submit">작성</button>
            </div>
    </form>
    {% endif %}
</div>
{% endblock %}
