{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>공유 요청게시물 작성</h1>
    <hr>
    <form action="{%url 'rb_create' %}" method="POST">
        {% csrf_token %}
        제목 : <input type="text" name ='title' required="required"><br>
        지역 : <select name='region'>
                    <option value='' selected>-- 선택 --</option>
                    {%for i in regionM%}
                    <option value='{{i}}'>{{i}}</option>
                    {%endfor%}
                </select><br>       
        면적 : <input type="number" name = 'land_area' required="required"><br>
        기간 : <select name = 'sharing_term'>
                    <option value='' selected>-- 선택 --</option>
                    <option value='1일'>1일</option>
                    <option value='일주일이내'>일주일이내</option>
                    <option value='3년'>3년</option>
                </select><br>
        
        <!-- <select name="is_pay_for">
            <option value='' selected>-- 선택 --</option>
            <option value=1>있음</option>
            <option value=0>무료로 해주떼용</option>
        </select><br> -->
        <div class="" id="pay_for">
            비용 지불의사: 
            <label>
                <input type="radio" name="is_pay_for" class ="card-input-element" value=1 >
                <div class="card border-secondary card-input">    
                    Yes
                </div>
            </label>
            <label>
                <input type="radio" name="is_pay_for" class ="card-input-element" value=0 >
                <div class="card border-secondary card-input">    
                    No
                </div>
            </label>
        </div>
        
        
        <br>
    
        본문 : <textarea name="content" cols="30" rows="10" placeholder="글을 작성해주세요" required="required"></textarea><br>
        사용목적 : <input type="text" name="purpose" required="required"><br>
        <button type="submit">작성하기</button>
    </form>
</div>

<style>
label {
    width: 10%;
}

#pay_for {
    display: inline;
    text-align: center;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 1px 1px #2ecc71;
     /* background-color: #70e09f; */
 }
</style>

{% endblock %}