{% extends 'base.html' %}
{% block content %}

<div class="container">
        
        <h1 id="title">{{rb.title}}</h1>
   
        <table class="type05">
           <tr>
              <th scope="row">작성자</th>
              <td>{{rb.writer}}</td>
           </tr>
           <tr>
                <th scope="row">게시날짜</th>
                <td>{{rb.pub_date}}</td>
             </tr>
           <tr>
              <th scope="row">지역</th>
              <td>{{rb.region}}</td>
           </tr>
           <tr>
              <th scope="row">면적</th>
              <td>{{rb.land_area}}</td>
           </tr>
           <tr>
              <th scope="row">기간</th>
              <td>{{rb.sharing_term}}</td>
           </tr>
           <tr>
            <th scope="row">지불의사</th>
                <td>{% if rb.is_pay_for %}
                    비용 : 지불의사 o
                    {% else %}
                    비용 : 지불의사 x
                    {% endif %}
            </td>   
           </tr>
           <tr>
              <th scope="row">내용</th>
              <td>{{rb.content}}</textarea></td>
           </tr>
           <tr>
              <th scope="row">사용목적</th>
              <td>{{rb.purpose}}</td>
           </tr>
        </table>
        
        <hr>
        {%for comment in comments.all%}
        <div class ='container'>
            <p>작성자:{{comment.comment_writer}}</p>
            <p>땅정보:{{comment.land_writer.region}}</p>
            <p>땅 크기 : {{comment.land_writer.land_area}}</p>
            <p>내용:{{comment.comment_content}}</p>
        </div>
        <hr>
        {% endfor %}
        
        {% if user.username == join.writer.username%}
        <!-- 게시물 작성자가 아니면 수정 삭제 못함!-->
        <a href="{% url 'rb_edit' rb.id%}"> 수정하기 </a>
        <br>
        <a href="{% url 'rb_delete' rb.id%}"> 삭제하기 </a>
        <br>
        {% endif %}
        <a href="{% url 'requestboard' %}"> 목록 </a>
        <hr>
      


<!-- 이어서 -->
        {% if user.is_authenticated %}   <!-- 로그인 상태가 아니면 댓글 못씀-->
        <form action="{% url 'RequestBoardCommentNew' rb.id%}" method = "POST">
            {% csrf_token %}
            <div >
                <h2>댓글</h2>
                작성자:{{user.username}}
                <br>
                땅정보: <select name="l">
                    <option value='' selected>-- 땅선택 --</option>
                    {% for i in land %}
                            <option value="{{i.id}}">{{i.region}} , {{i.land_area}} , {{i.land_condition}}</option>
                    {%endfor%}
                </select>
                내용:<textarea name="content" class="form-control" id="" cols="30" rows="5"></textarea>
                <br>
                <button type="submit">작성</button>
            </div>
    </form>
    {% endif %}
</div>
{% endblock %}
        






    

    