{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br>
    <p>Filter</p>
    <form action="{% url 'request_filter' %}" method="POST">
        {% csrf_token %}
        <select name="region">
            <option value="All">지역선택</option>
            {% for rg in region_list %}
                <option value="{{rg.region}}">{{rg.region}}</option>
            {% endfor %}
        </select>
        <select name="is_free">
            <option value="All">비용여부</option>
            <option value="True">무료</option>
            <option value="False">유료</option>
        </select>
        <button type="submit">필터링</button>
    </form>

    <hr>
    <h4>땅 공유 요청게시판</h4>
    {% if user.is_authenticated %}
    <a href="{% url 'rb_new' %}">땅 공유 요청하기</a>
    {% endif %}
    <hr>

    {% for rb in requestboards %}
    <div style="float:left">{{rb.writer}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <a href="{% url 'rb_detail' rb.id %}">{{rb.title}}</a>
    <div style="float:right">{{rb.region}}</div>
    <hr>
    {% endfor %}
    
</div>

{% endblock %}