{% extends 'base.html' %}
{% block content %}
<style>
        .btf {
            font-family: 'RIDIBatang';
            border-radius: 5px;
            padding: 5px 5px;
            font-size: 15px;
            text-decoration: none;
            margin: 20px;
            color: #fff;
            position: relative;
            display: inline-block;
            background-color: #4B8A08;
            border-color:#4B8A08;
           
        }
        
</style>
<div class="container">
    


    <div class="container" style="text-align:center;">
        <div style="border:3px solid white; padding:10px; border-radius: 10px; background-color:#D0F5A9;"><br>
            <form action="{% url 'request_filter' %}" method="POST">
                {% csrf_token %}
                <select name="region" style="width:10%;height:40px; border-radius: 5px;">
                    <option value="All">지역선택</option>
                    {% for rg in region_list %}
                        <option value="{{rg.region}}">{{rg.region}}</option>
                    {% endfor %}
                </select>
                <select name="is_pay_for" style="width:13%;height:40px; border-radius: 5px;">
                    <option value="All">비용지불 여부</option>
                    <option value=0>무료</option>
                    <option value=1>유료</option>
                </select>
                <br>
                <div class="input-group" style="width: 90%; margin: 2%; padding-left:10%; ">
                        <select name="search_mode" style="width:100px;height:40px; border-radius: 5px; margin-right: 2%;" >
                            <option value="title">제목</option>
                            <option value="contents">내용</option>
                            <option value="writer">작성자</option>
                        </select>
                        <input type="text" name="search_data" class="form-control" style="border-radius: 5px;">
                        <button type="submit" class="btn btn-success" style="margin-left: 1%;">Search!</button>
                      </div>                
        </form>
    </div>
</div>
<br>


<!-- new -->
<h1>땅 요청  게시판</h1><br>
        {% if user.is_authenticated %}
        <a href="{% url 'rb_new' %}" style="text-align:right">공유요청글 등록</a>
        {% endif %}
        <br>
  <div class="boardlist" style="border-top-style:solid; border-top-color:rgb(197, 240, 80); padding-top: 15px;">
        
        {% for rb in requestboards %}
       <ul class="list_wrap"
              style="border-bottom-style: solid; border-bottom-color: rgb(197, 240, 80); border-bottom-width: 1px;">
              <li>
                     <a href="{% url 'rb_detail' rb.id %}">
                            <p class="card-title" style="font-size: 24px;">{{rb.title}}</p>
                            <p style="font-size: 14px;">작성자 : {{rb.writer}}</p>
                            <p style="font-size: 14px;">지역 : {{rb.region}}</p>
                     </a>
              </li>
       </ul>
       {% endfor %}
       </div>


<div class="page_style">
    <!-- 페이지네이터 -->
    {% if requestboards.has_previous%}
    <a href="?page={{requestboards.1}}">첫페이지</a>
    <a href="?page={{requestboards.previous_page_number}}">이전 페이지</a>
    {% endif %}

    <span>{{requestboards.number}}</span>
    <span>of</span>
    <span>{{requestboards.paginator.num_pages}}</span>

    {% if requestboards.has_next%}
    <a href="?page={{requestboards.next_page_number}}">다음페이지</a>
    <a href="?page={{requestboards.paginaitor.num_pages}}">마지막 페이지</a>
    {% endif %}
</div>

    
</div>

{% endblock %}