
{% extends 'base.html' %}
{% block content %}
<div class ='container'>
   <h4 id="title">{{sb.title}}</h4>
   <table class="type05">
      <tr>
         <th scope="row">작성일</th>
         <td>{{sb.pub_date}}</td>
      </tr>
      <tr>
         <th scope="row">작성자</th>
         <td>{{sb.writer}}</td>
      </tr>
      <tr>
         <th scope="row">지역</th>
         <td>{{sb.region}}</td>
      </tr>
      <tr>
         <th scope="row">주소</th>
         <td>{{sb.choice_land.postcode}} <br>
         {{sb.choice_land.roadAddress}} <br>
         {{sb.choice_land.detailAddress}}</td>
      </tr>
      <tr>
         <th scope="row">기간</th>
         <td>{{sb.sharing_term}}</td>
      </tr>
      <tr>
         <th scope="row">금액</th>
         <td>{{sb.amount}}</td>
      </tr>
      <tr>
         <th scope="row">내용</th>
         <td>{{sb.content}}</td>
      </tr>
      <tr>
         <th scope="row">모집상태</th>
         {% if sb.is_completed == True %}
         <td>모집 완료</td>
         {% else %}
         <td>모집 중</td>
         {% endif %}
      </tr>
      <tr>
         <th scope="row">사진</th>
         <td><img style="width: 18rem; height: 13rem;" src="{{ sb.land_img.url }}"></td>
      </tr>
   </table>

   {% if user.username == sb.writer.username %}
   <div class="edit_btn">
      <a href="{% url 'sb_edit' sb.id%}">수정하기</a>
      <a href="{% url 'sb_delete' sb.id%}">삭제하기</a>
   </div>
   {% endif %}

   
   
   {% if user.is_authenticated %}
      {% if user.username != sb.writer.username %}
         {% if requested == False %}
            <a href="{% url 'request_land' sb.id%}">신청하기</a>
         {% else %}
            <p>신청 되었습니다.</p>
         {% endif %}
      {% endif %}
   {% endif %}
   <hr>

   {%for comment in comments.all%}   
   <table>
      <tr>
         <th style="padding: 10px;">
            <img src="{{ comment.comment_writer.profile_img.url }}" alt="" style="width: 35px; height: 35px; border-radius: 40%;"> <span style="padding: 8px; ">{{comment.comment_writer}}</span>
         </th>
         <td>
            <span>{{comment.comment_content}}</span>
         </td>
      </tr>
   </table>
   <hr>  
   {% endfor %}

   <h5>Comment</h5>
   {% if user.is_authenticated %}   <!-- 로그인 상태가 아니면 댓글 못씀-->
      <form action="{% url 'SharingBoardCommentNew' sb.id%}" method = "POST">
         {% csrf_token %}
         <div>
            <table class="type_comment">
               <tr>
                  <th scope="row">
                     <img src="{{ request.user.profile_img.url }}" alt="" style="width: 35px; height: 35px; border-radius: 40%;"> 
                     <span style="padding: 5%;">{{me}}</span>
                  </th>
                  <td><textarea name="content" class="form-control" id="" cols="25" rows="1"></textarea></td>
                  <td><button type="submit">작성</button></td>
               </tr>
            </table>
            
            
         </div>
      </form>
   {% endif %}
</div>

{% endblock %}
