{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br>
    <p>Filter</p>
    <form action="{% url 'sharing_filter' %}" method="POST">
        {% csrf_token %}
        <select name="region">
            <option value="All">지역선택</option>
            {% for rg in region_list %}
                <option value="{{rg.region}}">{{rg.region}}</option>
            {% endfor %}
        </select>
        <select name="is_free">
            <option value="All">비용여부</option>
            <option value="True">무료</option>
            <option value="False">유료</option>
        </select>
        <button type="submit">필터링</button>
    </form>
    <hr>
    <br>
    <h4>땅 공유 게시판</h4>
    <a href="{% url 'sb_new' %}"><p>땅 등록하기</p></a>
    <hr>
    {% for sb in sharingboards2 %}
    <a href="{% url 'sb_detail' sb.id %}">{{sb.title}}</a> /
    {{sb.recruitment_status}} /
    {{sb.region}}
    <hr>
    {% endfor %}
</div>
    {% if sharingboards2.has_previous%}
        <a href="?page={{sharingboards2.1}}">첫페이지</a>
        <a href="?page={{sharingboards2.previous_page_number}}">이전 페이지</a>
        {% endif %}

        <span>{{sharingboards2.number}}</span>
        <span>of</span>
        <span>{{sharingboards2.paginator.num_pages}}</span>

        {% if sharingboards2.has_next%}
        <a href="?page={{sharingboards2.next_page_number}}">다음페이지</a>
        <a href="?page={{sharingboards2.paginaitor.num_pages}}">마지막 페이지</a>
        {% endif %}
    {% endblock %}